### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
# Mac OS
.DS_Store
node_modules/

# Ignore unused flags to save space
resources/flags/1x1/*
!resources/flags/1x1/jp.svg
!resources/flags/1x1/pl.svg
!resources/flags/1x1/gb.svg

resources/flags/4x3/*
!resources/flags/4x3/jp.svg
!resources/flags/4x3/pl.svg
!resources/flags/4x3/gb.svgpackage.json
package-lock.json
